* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workspace {
  background-color: lightblue;
  height: 50%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8%;
  flex-wrap: wrap;
}

.toolbar {
  background-color: #f4f4f4;
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  position: fixed;
  transition: width 0.4s;
}

.toolbar h1 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  color: #202020;
}

/* Begin Transition Section: Toolbar grow on hover */

.toolbar:hover {
  width: 200px;
}

.toolbar:hover .create-button {
  width: 88px;
  height: 88px;
}

.toolbar:hover .clear-button {
  width: 63px;
  height: 63px;
}

.toolbar:hover .create p,
.toolbar:hover .clear p {
  opacity: 100;
}

.toolbar:hover .logo-icon {
  color: #449696;
}

.logo-icon {
  transition: 0.4s;
}

.toolbar:hover .copyright {
  opacity: 100;
}

/* End Transition Section: Toolbar grow on hover */

.create,
.clear {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-button {
  background-color: #449696;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  text-align: center;
  transition: width 0.4s, height 0.4s;
}

.clear-button {
  background-color: #449696;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  transition: width 0.4s, height 0.4s;
}

/* Begin Transition Section: Button transitions */

.toolbar:hover .create-button:hover {
  width: 93px;
  height: 93px;
  transition: 0.1s;
}

.toolbar:hover .clear-button:hover {
  width: 67px;
  height: 67px;
  transition: 0.1s;
}

.create-button:active,
.clear-button:active {
  background-color: #2d8282;
}

/* End Transition Section: Button transitions */

.create-icon {
  color: #f4f4f4;
  font-size: 30px;
}

.clear-icon {
  color: #f4f4f4;
  font-size: 20px;
}

.create p,
.clear p {
  color: #202020;
  padding-top: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.4s;
}

.copyright {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #797979;
  padding-bottom: 5px;
  opacity: 0;
  transition: 0.4s;
}
