* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.toolbar {
  background-color: #f4f4f4;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  position: absolute;
}
